{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="card-body px-0 pb-2">
              <div class="table-responsive">        
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Token</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Entry Price</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Weight</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Take Profit</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stop Loss</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Current Position</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r1name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r1price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r1weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r1take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r1stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r1current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r2name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r2price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r2weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r2take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r2stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r2current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r3name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r3price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r3weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r3take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r3stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r3current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r4name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r4price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r4weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r4take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r4stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r4current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r5name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r5price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r5weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r5take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r5stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r5current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r6name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r6price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r6weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r6take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r6stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r6current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r7name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r7price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r7weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r7take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r7stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r7current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r8name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r8price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r8weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r8take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r8stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r8current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r9name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r9price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r9weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r9take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r9stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r9current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r10name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r10price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r10weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r10take">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r10stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r10current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        <script>
            const modelName = 'books'
            const token = localStorage.getItem('token') || ''
   
            let displayList = [];
            let displayList_name = [];
            let displayList_returns = [];
            let displayList_cumprod = [];
            <!--document.getElementById("r1name").innerHTML = "BTC";
            <!--document.getElementById("r1current").innerHTML = "1";
            <!--document.getElementById("r2name").innerHTML = "ETH";
            <!--document.getElementById("r2current").innerHTML = "1";
            <!--document.getElementById("r3name").innerHTML = "A";
            <!--document.getElementById("r3current").innerHTML = "1";
            <!--document.getElementById("r4name").innerHTML = "B";
            <!--document.getElementById("r4current").innerHTML = "1";
            <!--document.getElementById("r5name").innerHTML = "C";
            <!--document.getElementById("r5current").innerHTML = "1";
            <!--document.getElementById("r6name").innerHTML = "D";
            <!--document.getElementById("r6current").innerHTML = "1";
            <!--document.getElementById("r7name").innerHTML = "E";
            <!--document.getElementById("r7current").innerHTML = "1";
            <!--document.getElementById("r8name").innerHTML = "F";
            <!--document.getElementById("r8current").innerHTML = "1";
            <!--document.getElementById("r9name").innerHTML = "G";
            <!--document.getElementById("r9current").innerHTML = "1";
            <!--document.getElementById("r10name").innerHTML = "H";
            <!--document.getElementById("r10current").innerHTML = "1";
            fetch('https://sea-lion-app-ydqoo.ondigitalocean.app/api/books/',{
             method: 'GET',
             headers: {
            'Authorization': `token ${token}`
             }
             })
            .then(function(response){
                return response.json()
            })
            .then((res) => {
                data = res.data
                
                var list = document.getElementById("myList");
                res.data.forEach((item) => {
                    displayList.push(item.coin);
                    displayList_name.push(item.coin);
                    displayList_returns.push(item.returns);
                    displayList_cumprod.push(item.cumprod);
                    let li = document.createElement("li");
                    li.innerText = item.coin;
                    list.appendChild(li);
                })
                document.getElementById("r1name").innerHTML = displayList[0];
                document.getElementById("r1current").innerHTML = displayList_cumprod[0];
                document.getElementById("r2name").innerHTML = displayList[1];
                document.getElementById("r2current").innerHTML = displayList_cumprod[1];
                
                console.log(displayList)
            })
            .catch((err) => {
                console.log(`Error fetching: ${err}`)
            });

             

        </script>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>
    const modelName = 'books'
        var diList = ['Apples', 'Oranges', 'Grapes', 'Beries', 'Watermelon'];
            const token = localStorage.getItem('token') || ''
   
            let displayList = ['Apples', 'Oranges', 'Grapes', 'Beries', 'Watermelon'];
            fetch('https://sea-lion-app-ydqoo.ondigitalocean.app/api/books/',{
             method: 'GET',
             headers: {
            'Authorization': `token ${token}`
             }
             })
            .then(function(response){
                return response.json()
            })
            .then((res) => {
                data = res.data
                let diList = ['Apples', 'Oranges', 'Grapes', 'Beries', 'Watermelon'];
                document.getElementById("r1name").innerHTML = diList[0];
                document.getElementById("r1price").innerHTML = diList[1];
                document.getElementById("r1weight").innerHTML = diList[2];
                document.getElementById("r1take").innerHTML = diList[3];
                document.getElementById("r1stop").innerHTML = diList[4];
                document.getElementById("r1current").innerHTML = "a";
                console.log(data)
            })
            .catch((err) => {
                console.log(`Error fetching: ${err}`)
            });
    
    
    
    
    

    <!--document.getElementById("r1name").innerHTML = diList[0];
    <!--document.getElementById("r1price").innerHTML = diList[1];
    <!--document.getElementById("r1weight").innerHTML = diList[2];
    <!--document.getElementById("r1take").innerHTML = diList[3];
    <!--document.getElementById("r1stop").innerHTML = diList[4];
    <!--document.getElementById("r1current").innerHTML = "a";
    <!--        const modelName = 'books'
    <!--        const token = localStorage.getItem('token') || ''
   
    <!--        let displayList = ['Apples', 'Oranges', 'Grapes', 'Beries', 'Watermelon'];
    <!--        fetch('https://sea-lion-app-ydqoo.ondigitalocean.app/api/books/',{
    <!--         method: 'GET',
    <!--         headers: {
    <!--        'Authorization': `token ${token}`
    <!--         }
    <!--         })
    <!--        .then(function(response){
    <!--            return response.json()
    <!--        })
    <!--        .then((res) => {
    <!--            data = res.data
    <!--            
    <!--            document.getElementById("r1name").innerHTML = "A";
    <!--            document.getElementById("r1price").innerHTML = "1";
    <!--            document.getElementById("r1weight").innerHTML = "1";
    <!--            document.getElementById("r1take").innerHTML = "a";
    <!--            document.getElementById("r1stop").innerHTML = "b";
    <!--            document.getElementById("r1current").innerHTML = "a";
    <!--        })
    <!--        .catch((err) => {
    <!--            console.log(`Error fetching: ${err}`)
    <!--        });



  </script>
{% endblock javascripts %}
