<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <ul id="myList"></ul>
        <script>
            const modelName = 'books'
            const token = localStorage.getItem('token') || ''
   
            let displayList = ['Apples', 'Oranges', 'Grapes', 'Berries', 'Watermelon'];
            fetch(`/api/${modelName}/`,{
             method: 'GET',
             headers: {
            'Authorization': `token ${token}`
             }
             })
            .then(function(response){
                return response.json()
            })
            .then((data) => {
                var list = document.getElementById("myList");
                data.results.forEach((item) => {
                    displayList.push(item.coin);
                    let li = document.createElement("li");
                    li.innerText = item.coin;
                    list.appendChild(li);
                })
                console.log(displayList)
            })
            .catch((err) => {
                console.log(`Error fetching: ${err}`)
            });

             

        </script>
    </body>
</html>
