{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row mt-4">
        <div class="col-8 mb-0">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                  <div class="d-flex flex-column h-100">
                    <p class="mb-1 pt-2 text-bold">Built by developers</p>
                    <h5 class="font-weight-bolder">Bjorkfi portfolio</h5>
                    <p class="mb-5">How to use the table below</p>
                        <ol>
                          <li>Fill in how much you want to invest.</li>
                          <li>Buy the tokens reflected in the column “Amount to purchase”.</li>
                          <li>If you already hold some of the tokens, adjust your positions to reflect the table.</li>
                          <li>Wait for the next month, when we update our portfolio.</li>
                        </ol>

                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card h-100">
            <div class="overflow-hidden position-relative border-radius-xl bg-cover h-100" style="background-image: url('/static/assets/img/ivancik.jpg');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Invest with Bjorkfi</h5>
                <p class="text-white">Explanation of strategy Trend & momentum.</p>
                <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="https://bjorkfi.com/">
                  Read More
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
       </div>
       {% if istrending == 1 %}
       <div class="row mt-4">
        <div class="col-3 mb-xl-0 mb-0">
         <div class="card">
            <div class="card-body p-3">
              <div class="row">
                 The market is currently trending and the Bjorkfi model is holding coins. The coins curretly held will be sold at feb 28 and a new position will be evaluated. 
              </div>
            </div>
          </div>
        </div>
          <div class="col-6 mb-xl-0 mb-0">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Amount to invest (USD)</p>
                    <h5 class="font-weight-bolder mb-0">
                      <input type="text" id="invest" name="Amount to invest" value="100" />
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                    <button onClick="calc(this)" class="btn bg-gradient-primary mb-0">Calculate</button> 
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>


       <div class="row mt-4">
        <div class="col-3 mb-xl-0 mb-0">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                    <h5 class="font-weight-bolder mb-0">
                      Current return:
                      <span id="MTDReturn" class="text-success text-sm font-weight-bolder"></span>
                    </h5>
              </div>
            </div>
          </div>        
        </div>
          <div class="col-6 mb-xl-0 mb-0">
          
          </div>
        </div>
        
<div class="row my-4">
  <div class="col-11 mb-md-0 mb-4">
          <div class="card">
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">        
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Token</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price at recommendation</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Weight</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount to purchase</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stop loss</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Profit/Loss</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r1name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r1price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r1weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r1amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r1stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r1current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r2name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r2price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r2weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r2amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r2stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r2current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r3name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r3price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r3weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r3amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r3stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r3current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r4name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r4price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r4weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r4amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r4stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r4current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r5name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r5price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r5weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r5amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r5stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r5current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r6name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r6price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r6weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r6amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r6stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r6current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r7name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r7price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r7weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r7amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r7stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r7current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r8name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r8price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r8weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r8amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r8stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r8current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r9name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r9price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r9weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r9amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r9stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r9current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="8%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r10name">BTC</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm" id = "r10price">19,840-19,890</h6>
                          </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id = "r10weight"> 5% </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r10amount">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="10%"></div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r10stop">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="10%"></div>
                          </div>
                        </div>
                      </td>
                       <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                          <div class="progress-info">
                            <div class="progress-percentage">
                              <span class="text-xs font-weight-bold" id = "r10current">3%</span>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="3%" aria-valuemin="-10%" aria-valuemax="10%"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="row mt-4">
          <div class="col-3 mb-xl-0 mb-0">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                 The market is currently not trending. A new position will be evaluated at the 1st of january. 
                </div>
              </div>
            </div>
          </div>
         </div>
             <div class="row mt-4">
                <div class="col-12 mb-0">
                  <div class="card">
                     <div class="card-header pb-0">
                      <h6>Market trend line</h6>
                     </div>
                    <div class="card-body p-3">
                                   <div class="chart">
                        <canvas id="chart" class="chart-canvas" height="400"></canvas>
                      </div>
                    </div>
                  </div>  
                </div>
        {% endif %}
      </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
                
                
    // Plot if not trending   
    var ctx = document.getElementById("chart").getContext("2d");
    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors
   
    var gradientStroke2 = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors   
       
    var gradientStroke3 = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(120,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(172,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(120,23,39,0)'); //purple colors   
       
    var gradientStroke4 = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(180,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(172,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(190,23,39,0)'); //purple colors   
      var datas = {
        labels: ["1","2","3","4","5","6"],
        datasets: [{
            label: "Trend",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [1,2,1,3,2,5],
            maxBarThickness: 6

          },
        {
            label: "Market",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#575f9a",
            borderWidth: 3,
            backgroundColor: gradientStroke3,
            fill: true,
            data: [1,3,2,1,4,3],
            maxBarThickness: 6

          },
        ],
      }
      var myChart = new Chart(ctx, {
      type: "line",
      data: datas,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
     });
        
          // Evaluate if trending 
                
            const modelName = 'portfolio'
            const token = localStorage.getItem('token') || ''
   
            let displayList = [];
            let displayList_name = [];
            let displayList_buy = [];
            let displayList_weight = [];
            let displayList_returns = [];
            let displayList_amount = [];
            fetch('https://sea-lion-app-ydqoo.ondigitalocean.app/api/portfolio/',{
             method: 'GET',
             headers: {
            'Authorization': `token ${token}`
             }
             })
            .then(function(response){
                return response.json()
            })
            .then((res) => {
                data = res.data
                
                res.data.forEach((item) => {
                    displayList.push(item.token);
                    displayList_name.push(item.token);
                    displayList_buy.push(item.buy);
                    displayList_returns.push(item.current);
                    displayList_weight.push(item.weight);
                    displayList_amount.push(100/(item.buy*10));
                })
                    // Det här var alltså innan chat gpt och jag har inte orkat fixa det Arek.
                document.getElementById("r1name").innerHTML = displayList_name[0];
                document.getElementById("r1price").innerHTML = parseFloat(displayList_buy[0]).toPrecision(3);
                document.getElementById("r1weight").innerHTML = displayList_weight[0];
                document.getElementById("r1amount").innerHTML = parseFloat(displayList_amount[0]).toPrecision(3);
                document.getElementById("r1stop").innerHTML = "10%";
                document.getElementById("r1current").innerHTML = displayList_returns[0];
                
                document.getElementById("r2name").innerHTML = displayList_name[1];
                document.getElementById("r2price").innerHTML = parseFloat(displayList_buy[1]).toPrecision(3);
                document.getElementById("r2weight").innerHTML = displayList_weight[1];
                document.getElementById("r2amount").innerHTML = parseFloat(displayList_amount[1]).toPrecision(3);
                document.getElementById("r2stop").innerHTML = "10%";
                document.getElementById("r2current").innerHTML = displayList_returns[1];
              
                document.getElementById("r3name").innerHTML = displayList_name[2];
                document.getElementById("r3price").innerHTML = parseFloat(displayList_buy[2]).toPrecision(3);
                document.getElementById("r3weight").innerHTML = displayList_weight[2];
                document.getElementById("r3amount").innerHTML = parseFloat(displayList_amount[2]).toPrecision(3);
                document.getElementById("r3stop").innerHTML = "10%";
                document.getElementById("r3current").innerHTML = displayList_returns[2];
              
                document.getElementById("r4name").innerHTML = displayList_name[3];
                document.getElementById("r4price").innerHTML = parseFloat(displayList_buy[3]).toPrecision(3);
                document.getElementById("r4weight").innerHTML = displayList_weight[3];
                document.getElementById("r4amount").innerHTML = parseFloat(displayList_amount[3]).toPrecision(3);
                document.getElementById("r4stop").innerHTML = "10%";
                document.getElementById("r4current").innerHTML = displayList_returns[3];
              
                document.getElementById("r5name").innerHTML = displayList_name[4];
                document.getElementById("r5price").innerHTML = parseFloat(displayList_buy[4]).toPrecision(3);
                document.getElementById("r5weight").innerHTML = displayList_weight[4];
                document.getElementById("r5amount").innerHTML = parseFloat(displayList_amount[4]).toPrecision(3);
                document.getElementById("r5stop").innerHTML = "10%";
                document.getElementById("r5current").innerHTML = displayList_returns[4];
              
                document.getElementById("r6name").innerHTML = displayList_name[5];
                document.getElementById("r6price").innerHTML = parseFloat(displayList_buy[5]).toPrecision(3);
                document.getElementById("r6weight").innerHTML = displayList_weight[5];
                document.getElementById("r6amount").innerHTML = parseFloat(displayList_amount[5]).toPrecision(3);
                document.getElementById("r6stop").innerHTML = "10%";
                document.getElementById("r6current").innerHTML = displayList_returns[5];
              
                document.getElementById("r7name").innerHTML = displayList_name[6];
                document.getElementById("r7price").innerHTML = parseFloat(displayList_buy[6]).toPrecision(3);
                document.getElementById("r7weight").innerHTML = displayList_weight[6];
                document.getElementById("r7amount").innerHTML = parseFloat(displayList_amount[6]).toPrecision(3);
                document.getElementById("r7stop").innerHTML = "10%";
                document.getElementById("r7current").innerHTML = displayList_returns[6];
             
                document.getElementById("r8name").innerHTML = displayList_name[7];
                document.getElementById("r8price").innerHTML = parseFloat(displayList_buy[7]).toPrecision(3);
                document.getElementById("r8weight").innerHTML = displayList_weight[7];
                document.getElementById("r8amount").innerHTML = parseFloat(displayList_amount[7]).toPrecision(3);
                document.getElementById("r8stop").innerHTML = "10%";
                document.getElementById("r8current").innerHTML = displayList_returns[7];
              
                document.getElementById("r9name").innerHTML = displayList_name[8];
                document.getElementById("r9price").innerHTML = parseFloat(displayList_buy[8]).toPrecision(3);
                document.getElementById("r9weight").innerHTML = displayList_weight[8];
                document.getElementById("r9amount").innerHTML = parseFloat(displayList_amount[8]).toPrecision(3);
                document.getElementById("r9stop").innerHTML = "10%";
                document.getElementById("r9current").innerHTML = displayList_returns[8];
              
                document.getElementById("r10name").innerHTML = displayList_name[9];
                document.getElementById("r10price").innerHTML = parseFloat(displayList_buy[9]).toPrecision(3);
                document.getElementById("r10weight").innerHTML = displayList_weight[9];
                document.getElementById("r10amount").innerHTML = parseFloat(displayList_amount[9]).toPrecision(3);
                document.getElementById("r10stop").innerHTML = "10%";
                document.getElementById("r10current").innerHTML = displayList_returns[9];
                console.log(displayList_name)
                 let increment = 1;
                const istrending = 1;
                let MTDreturns = 0;
                const requests = displayList_name.map(symbol => {
                  return axios.get('https://api.binance.com/api/v3/ticker/price', {
                    params: {
                      symbol: `${symbol}USDT`
                    }
                  });
                });

                Promise.all(requests)
                  .then(responses => {
                    responses.forEach((response, index) => {
                      const symbol = displayList_name[index];
                      console.log(`${symbol}USDT`);
                      console.log(response.data);
                      console.log(response.data['value']);
                      document.getElementById(`r${index + 1}current`).innerHTML = (100*((response.data.price/displayList_buy[index])-1)).toFixed(2) + '%';
                      MTDreturns = MTDreturns + 100*((response.data.price/displayList_buy[index])-1);
                    });
                   document.getElementById("MTDReturn").innerHTML = (MTDreturns/10).toFixed(2) + '%';
                  });   
                 

             //   for (const symbol of displayList_name) {
             //             axios.get('https://api.binance.com/api/v3/ticker/price', {
             //               params: {
             //                 symbol: `${symbol}USDT`
             //               }
             //             })
             //             .then(response => {
             //               console.log(`${symbol}USDT`);
             //               console.log(response.data);
             //               console.log(response.data.price);
             //               document.getElementById(`r${increment}current`).innerHTML = response.data.price;
             //               increment = increment + 1;
             //             })
             //             .catch((err) => {
             //           console.log(`${symbol}USDT`);
             //           console.log(`Error fetching: ${err}`)
             //           });
             //   }//End for loop
            })
            .catch((err) => {
                console.log(`Error fetching: ${err}`)
            });
               
           
            <!-- calculate investments
           
            function calc(form) {
                let displayList_amount = [];
                var A = document.getElementById("invest").value;
                displayList_buy.forEach((item) => {
                         displayList_amount.push(A/(item*10));
                })
                document.getElementById("r1amount").innerHTML = parseFloat(displayList_amount[0]).toPrecision(3);
                document.getElementById("r2amount").innerHTML = parseFloat(displayList_amount[1]).toPrecision(3);
                document.getElementById("r3amount").innerHTML = parseFloat(displayList_amount[2]).toPrecision(3);
                document.getElementById("r4amount").innerHTML = parseFloat(displayList_amount[3]).toPrecision(3); 
                document.getElementById("r5amount").innerHTML = parseFloat(displayList_amount[4]).toPrecision(3);
                document.getElementById("r6amount").innerHTML = parseFloat(displayList_amount[5]).toPrecision(3);
                document.getElementById("r7amount").innerHTML = parseFloat(displayList_amount[6]).toPrecision(3);
                document.getElementById("r8amount").innerHTML = parseFloat(displayList_amount[7]).toPrecision(3);
                document.getElementById("r9amount").innerHTML = parseFloat(displayList_amount[8]).toPrecision(3);
                document.getElementById("r10amount").innerHTML = parseFloat(displayList_amount[9]).toPrecision(3);
                return false;
                }
        </script>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>



  </script>
{% endblock javascripts %}
