{% extends 'layouts/base.html' %}

{% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-12 col-md-9 mb-md-0 mb-4">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h4>Portfolio Updates:</h4>
              <h5>Choose which medium you prefer for receiving updates on when we update our portfolio:</h5>
                     <button type="button" class="btn btn-outline-primary btn-sm mb-0" href="https://bjorkfi.com">Discord</button>
                     <button type="button" class="btn btn-outline-primary btn-sm mb-0" href="https://bjorkfi.com">Telegram</button>
                     <button type="button" class="btn btn-outline-primary btn-sm mb-0" href="https://bjorkfi.com">Mail</button>
              <h4>Join the conversation:</h4>
              <h5>Talk about what happens in the markets, new investments ideas or give us product feedback via our dedicated discord channel: </h5>
                     <button type="button" class="btn btn-outline-primary btn-sm mb-0" href="https://bjorkfi.com">Discord</button>
                 
            </div>
          </div>
      </div>
    </div>

      {% include "includes/footer.html" %}

  </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

